<!DOCTYPE html>
<html>
  <head>
    <title>Saving details</title>
        <style>
            body{
                background-color: aqua;
            }
        </style>
  </head>

  <body>
    <h1>Welcome sir!</h1>

    <form method="post" action="/check">

        Email : <input type="email" required name="email" value="email">
        Password:<input type="password" required name="pass" value="pass">

          <input type="submit" value="login" name="login">


    </form>







  </body>
</html>